---
import Avatar from '../components/cv/Avatar.astro';
import Text from '../components/cv/Text.astro';
import Title from '../components/cv/Title.astro';
import Subtitle from '../components/cv/Subtitle.astro';
import Skills from '../components/cv/Skills.astro';
import Languages from '../components/cv/Languages.astro';
import Certificates from '../components/cv/Certificates.astro';
import Experience from '../components/cv/Experience.astro';
import Projects from '../components/cv/Projects.astro';
import Education from '../components/cv/Education.astro';
import Social from '../components/cv/Social.astro';
const { frontmatter } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
<title>Resume</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="generator" content={Astro.generator} />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="stylesheet" href="/styles/global.css">
<link rel="stylesheet" href="/styles/w3.css">
<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto&display=swap'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
      <div class="w3-white w3-text-grey w3-card-4">
        <Avatar name={frontmatter.name} image={frontmatter.image} qrcode={frontmatter.qrcode} />
        <div class="w3-container">
          <Text text={frontmatter.function} icon="fa-briefcase" />
          <!-- <Text text={frontmatter.address} icon="fa-home" /> -->
          <Text text={frontmatter.email} icon="fa-envelope" />
          <!-- <Text text={frontmatter.telephone} icon="fa-phone" /> -->
          <hr>

          <Subtitle text="技能" icon="fa-asterisk" />
          <Skills lists={frontmatter.skills}/>
          <br>

          <Subtitle text="证书" icon="fa fa-certificate" />
          <Certificates lists={frontmatter.certificates}/>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <Title text="工作经验" icon="fa-suitcase" />
        <Experience lists={frontmatter.experiences}/>
      </div>
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <Title text="个人项目" icon="fa-suitcase" />
        <Projects lists={frontmatter.projects}/>
      </div>

      <div class="w3-container w3-card w3-white">
        <Title text="教育经历" icon="fa-certificate" />
        <Education lists={frontmatter.educations}/>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <Social lists={frontmatter.social}/>
  <p>Powered by jianzhang</p>
</footer>

</body>
</html>